
ul {
    font-weight: 500;
}

ul li {
    border-bottom: solid 1px rgb(184, 184, 185);
}


li a:hover {
    background-color: rgb(250, 249, 246);
    color:rgb(13, 13, 13)!important;
    border-radius: .1rem;
    padding-left: 1.5rem !important;
    transition: 1s;
}

